body {
    font-family: segoe ui;
    background: #004630;
    margin: 0;
    color: white;
}

.white {
    height: 13.5vh;
    width: 17vw;
    background: white;
    position: absolute;
    left: 1rem; 
}    

.techniekcollege {
    scale: 85%;
    padding-left: 1rem;
}

nav {
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: center;
    background: #006445;
    box-shadow: 0rem 0.2rem 1rem 0rem rgb(0,0,0,0.2);
}

ul {
    display: flex;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}

li a:hover:not(.active) {
    background: #7cb81d;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0rem 0.5rem 1rem 0rem rgb(0,0,0,0.2);
}

.dropdown-content a {
    padding: 0.5rem;
    display: block;
    justify-content: flex-start;
}

.dropdown:hover .dropdown-content {
    display: block;
    background: #97CE23 ;
}

.dropdown:hover .dropbutton {
    background-color:#8ec11f;
}

section {
    background: white;
    color: #317043 ;
}

.container {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 22%;
    background: white;
}

.foto {
    position: absolute;
    height: 40vh;
    top: 13%;
    left: 8%;
}

.text-box {
    text-align: center;
    width: 33%;
    position: absolute;
    left: 42%;
    top: 12%;
}

footer {
 position: absolute; 
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    height: 9vh;
    width: 100%;
    background: #08372a;
}
.tech2{
    position: absolute;
    height: 30%;
width: 35%;

}
#h1 {
    position: absolute;
    color: rgb(225, 255, 0);
}
#h3 {
position: absolute;
color: #1adc64;
}

#h3_1 {
    position: absolute;
    top: 49%; 
    color: #afdc1a;
}
    
.OIPjpg{
    position: absolute;
    bottom: 20%; 
    height: 30%;
    width: 35%;
}

.ak{
position: absolute;
height: 80%;
width: 100%;

}

#akk{
position: absolute;
top: 10%;
color: #8ec11f;

}




.agendawebp{
position: absolute;
height: 70%;
width: 100%;

}
#bc{
position: absolute;

color: #8ec11f;


}
#edu{
color: #9ee407;



}
.snel{
position: absolute;
bottom: 20%; left: 37%;
height: 35%;
width: 30%;


}

#h2{

    position: absolute;
    bottom: 20%; left: 37%;
    height: 30%;
    width: 30%;
color: #343d0a;


}
.ali{
position: absolute;
top: 50%; left: 70%;
height: 30%; 
width: 30%;

}
#alex{
position: absolute;
top: 50%; left: 70%;
height: 30%;
width: 30%;
color: #202b08;
}
.kade{


    position: absolute;
    top: 20%; left: 70%;
    height: 30%; 
    width: 30%;

}
#kad{

    position: absolute;
    top: 20%; left: 70%;
    height: 30%; 
    width: 30%;
color: #8ec11f;

}
.sof{
position: absolute;
height: 70%;
width: 100%;

}

#so{
position: absolute;
color: #8ec11f;


}