body {
    font-family: segoe ui;
    background: #004630;
    margin: 0;
    color: white;
}

.white {
    height: 13.5vh;
    width: 17vw;
    background: white;
    position: absolute;
    left: 1rem; 
}    

.techniekcollege {
    scale: 85%;
    padding-left: 1rem;
}

nav {
    list-style-type: none;
    display: flex;
    height: 13.5vh;
    width: 100%;
    align-items: center;
    background: #006445;
    box-shadow: 0rem 0.2rem 1rem 0rem rgb(0,0,0,0.2);
}

ul {
    display: flex;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}

li a:hover:not(.active) {
    background: #7cb81d;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0rem 0.5rem 1rem 0rem rgb(0,0,0,0.2);
}

.dropdown-content a {
    padding: 0.5rem;
    display: block;
    justify-content: flex-start;
}

.dropdown:hover .dropdown-content {
    display: block;
    background: #97CE23 ;
}

.dropdown:hover .dropbutton {
    background-color:#8ec11f;
}

section {
    background: white;
    color: #317043 ;
}

.container {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 22%;
    background: white;
}

.foto {
    position: absolute;
    height: 40vh;
    top: 13%;
    left: 8%;
}

.visual {
    position: absolute;
    height: 20vh;
    top: 30%;
    left: 11%
}

.git {
    position: absolute;
    height: 20vh;
    top: 30%;
    right: 11%
}

.Diego {
    position: absolute;
    border: solid #317043;
    border-radius: 5%;
    height: 40vh;
    top: 16%;
    left: 8%;
}

.bread {
    position: absolute;
    border: solid #317043;
    border-radius: 5%;
    height: 20vh;
    top: 12%;
    left: 20%;
}

.bleach {
    position: absolute;
    border: solid #317043;
    border-radius: 5%;
    height: 40vh;
    top: 16%;
    right: 8%;
}

.canvas {
    position: absolute;
    height: 50vh;
    top: 12%;
    right: 3%;
}

.box1 {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    border: solid #317043;
    text-align: center;
    top: 7%;
    left: 8%;
    height: 15vh;
    width: 16vw;
    border-radius: 7%;
    background:#99bd26;
}

.box2 {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    border: solid #317043;
    text-align: center;
    top: 7%;
    right: 8%;
    height: 15vh;
    width: 16vw;
    border-radius: 7%;
    background:#99bd26;
}

.text-box1 {
    text-align: center;
    width: 33%;
    position: absolute;
    left: 42%;
    top: 11%;
}

.text-box2 {
    width: 33%;
    position: absolute;
    left: 10%;
    top: 32%;
}

.text-box2_5 {
    width: 33%;
    position: absolute;
    right: 10%;
    top: 32%;
}

.text-box3 {
    width: 33%;
    position: absolute;
    left: 36%;
    top: 16%;
}

.text-box4 {
    width: 24%;
    position: absolute;
    left: 20%;
    top: 43%;
}

.text-box4_5 {
    width: 24%;
    position: absolute;
    right: 20%;
    top: 28%;
}

.text-box5 {
    width: 33%;
    position: absolute;
    left: 10%;
    top: 22%;
}

#h1 {
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    height: 9vh;
    width: 100%;
    background: #08372a;
}